.container{ /* Cuando estan todos los paises*/
  background: url("../../assets/fondo.png") ;
  /* background-color: #34e22e; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  /* margin: 2%;   */
}

.containerF{/* Cuando se usa el filtro por continente*/
  background: url("../../assets/fondo.png") ;
  /* background-color: #34e22e; */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  width: 1080px;
  /* margin: 2%;   */
}

.continen{
  /* background-color: aqua; */
  width: 250px;
  margin: 0.5%;
}

.info{
  position: absolute;
  top: 65%;
  width: 240px;
  font-size: x-large;
}

.containFo{
  /* background-color: rgba(131, 19, 19, 0.349)  ; */
  width: 100%;
  background-color: rgba(128, 128, 128, 0.15);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* height: fit-content; */
  padding: 0%;
}


.containeP{
  /* background-color: rgb(43, 214, 226); */
  display: flex;
  flex-direction: row;
}

.order{
  /* background-color: ua; */
  display: flex;
  flex-direction: row;
  /* height: fit-content; */
  margin: 0% 1% 0% 0% ;
}

.current-page {
  font-size: 1.5rem;
  vertical-align: middle;
}

.button2{
  border-radius: 0.4rem;
  background: var(--primary, #FF5733);  
  
  width: 3.5rem;
  height: 2.1rem;
  flex-shrink: 0;
  border-color: white;
  
  color: #FFF;
  font-family: Montserrat;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: bold;
}


.button2:hover {
  background-color:#e24f2e;
}

.button2:active {
  position:relative;
	top:1px;
}

button2:disabled,
button2[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.button{
  border-radius: 0.4rem;
  background: var(--primary, #FF5733);  
  
  width: 5rem;
  height: 2.1rem;
  flex-shrink: 0;
  border-color: white;
  
  color: #FFF;
  font-family: Montserrat;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: bold;
}


.button:hover {
  background-color:#e24f2e;
}

.button:active {
  position:relative;
	top:1px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.h4{
  font-size: small;
  font-weight: bold;
  visibility: visible;
}

.h5{
  font-size: x-small;
  font-weight: bold;
  visibility: hidden;
}

.icono{
  visibility: hidden;
  height: 32px;
}


.select{
  /* border-color: #e24f2e; */
  width: 10rem;
  height: 1.5 rem;
  font-size: small;
}

.paginado{
  background-color: rgba(0, 255, 255, 0);
}

@media only screen and (max-width: 767px) {

  .container{
    background-color: rgba(128, 128, 128, 0.050);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    /* margin: 1% 2% 2% 4%;   */
   }
  
  .containFo{ 
    /* background-color: rgba(131, 19, 19, 0.349)  ; */
    /* background-color: rgba(37, 9, 194, 0.15); */
    /* width: 94.5%;  */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0%;
    height: 2rem;
  }
  
  .order{ 
    /* background-color: rgba(255, 145, 0, 0.767); */
    height: fit-content;
  }

  .select{
    width: 4rem;
    height: 1.5rem;
    font-size: x-small;
  }
  .h4{ 
    visibility: hidden;
  }
  .h5{
    visibility: visible;
  }
  .icono{
    visibility: visible;
    height: 28px;
  } 
} 
 