.container{
    /* background-color: rgb(67, 212, 38); */
    width: 90%;
    margin: 0.5% 0.5% 5% 5%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: flex-start;

    /* border: solid 1px;
    border-radius: 2px ;
    border-color: #999999; */
}

.container2{
    /* background-color: rgb(221, 255, 0); */
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: flex-start;
    border: solid 1px;
    border-radius: 2px ;
    border-color: #999999;
    width: 40%;
    padding: 0;
    margin: 0.3%   ;
}

.input{
    height: 1.9rem;
    width: 20rem;
}

.label{
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
}

.select{
    height: 2rem;
    width: 20rem;
 }

.select1{
   height: 4rem;
   width: 20rem;
}

.difficulty{
    height: 2rem;
    width: 20rem;
}

.duration{
    height: 1.5rem;
    width: 17rem;
}

.actividad{
    /* background-color: blue; */
    display: flex;
    /* width: 55%; */
    /* height: 100%; */

}

.actCol{
    /* background-color: aqua; */
    width: 9rem;
}

.actCol2{
    /* background-color: aqua; */
    width: 5rem;
    text-align: center;
}

.activities{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    width: 55%;
    padding: 0;
    margin: 0.5%;
}

.button{
    border-radius: 0.4rem;
    background: var(--primary, #FF5733);  
    
    width: 6rem;
    height: 2.1rem;
    flex-shrink: 0;
    border-color: white;
    
    color: #FFF;
    font-family: Montserrat;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 200;
    /* line-height: 0.005rem s */
    /* position: absolute;
    bottom: 1%; */
  }
  
  
  .button:hover {
    background-color:#e24f2e;
  }
  
  .button:active {
    position:relative;
      top:1px;
  }
  
  button:disabled,
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  
  @media only screen and (max-width: 767px) {

  .container{
    /* background-color: rgb(255, 0, 0); */
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
    }

    .container2{
        /* background-color: rgb(221, 255, 0); */
        width: 90%;
        margin: 2%;
        border: 1px solid;
        border-color: #999999;
        border-radius: 1%;
    }

    .activities{
        /* background-color: blue; */
        border: 1px solid;
        border-color: #999999;
        border-radius: 1%;
        justify-content: center;
        align-items: left;
        /* margin: 1px 1px 1px 100px; */
        width: 90%;
    }
}